@model IEnumerable<ProyectoFinal1_desaAppsWeb.Models.USUARIO>

@{
    ViewData["Title"] = "busquedaLibrosEditorial";
}

@Html.Raw(TempData["msg"])

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>E-Descargas</title>
    <!--
    SOFTY PINKO
    https://templatemo.com/tm-535-softy-pinko
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="~/css/styleCompras.css">

    <link rel="stylesheet" href="~/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                            <img src="https://i.imgur.com/ugCorAW.png" alt="E-Descargas" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="busqueda">Búsqueda</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="descargas">Descargas</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="compras">Compras</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="AppAdmin" asp-action="admin">Admin</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="USUARIO" asp-action="signIn">Salir</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <body>
        <div id="w">
            <header id="title">
                <h1><br><br>Libros por Editorial</h1>
            </header>
            <div id="page">
                <table id="cart">
                    <thead>
                        <tr>
                            <th class="first"></th>
                            <th class="second">Cod</th>
                            <th class="third">&nbsp;&nbsp;Nombre</th>
                            <th class="fourth">&nbsp;</th>
                            <th class="fifth">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- shopping cart contents -->
                        <tr class="productitm">
                            <!-- http://www.inkydeals.com/deal/ginormous-bundle/ -->
                            <td><img src="~/images/mujercitas.jpg" class="thumb"></td>
                            <td>1</td>
                            <td>Mujercitas</td>
                            <td><span class="edit"><img src="https://imgur.com/rGJ8ZqQ.png" alt="X"></span></td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                        <tr class="productitm">
                            <!-- http://www.inkydeals.com/deal/ginormous-bundle/ -->
                            <td><img src="~/images/mujercitas.jpg" class="thumb"></td>
                            <td>2</td>
                            <td>Mujercitas</td>
                            <td><span class="edit"><img src="https://imgur.com/rGJ8ZqQ.png" alt="X"></span></td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                        <tr class="productitm">
                            <!-- http://www.inkydeals.com/deal/ginormous-bundle/ -->
                            <td><img src="~/images/mujercitas.jpg" class="thumb"></td>
                            <td>3</td>
                            <td>Mujercitas</td>
                            <td><span class="edit"><img src="https://imgur.com/rGJ8ZqQ.png" alt="X"></span></td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>

</body>
</html>