@model ProyectoFinal1_desaAppsWeb.Models.MUSICA

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MUSICA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_musica" class="control-label"></label>
                <input asp-for="Id_musica" class="form-control" />
                <span asp-validation-for="Id_musica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_musica" class="control-label"></label>
                <input asp-for="Nombre_musica" class="form-control" />
                <span asp-validation-for="Nombre_musica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_interpretacion" class="control-label"></label>
                <input asp-for="Tipo_interpretacion" class="form-control" />
                <span asp-validation-for="Tipo_interpretacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma" class="control-label"></label>
                <input asp-for="Idioma" class="form-control" />
                <span asp-validation-for="Idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disquera" class="control-label"></label>
                <input asp-for="Disquera" class="form-control" />
                <span asp-validation-for="Disquera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_disco" class="control-label"></label>
                <input asp-for="Nombre_disco" class="form-control" />
                <span asp-validation-for="Nombre_disco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annio" class="control-label"></label>
                <input asp-for="Annio" class="form-control" />
                <span asp-validation-for="Annio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Archivo_descarga" class="control-label"></label>
                <input asp-for="Archivo_descarga" class="form-control" />
                <span asp-validation-for="Archivo_descarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Archivo_previsual" class="control-label"></label>
                <input asp-for="Archivo_previsual" class="form-control" />
                <span asp-validation-for="Archivo_previsual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
