@model ProyectoFinal1_desaAppsWeb.Models.PELICULAS

@{
    ViewData["Title"] = "Create";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>E-Descargas</title>
    <!--
    SOFTY PINKO
    https://templatemo.com/tm-535-softy-pinko
    -->
    <!-- ***** Start DB Connection ***** -->
    <!-- ***** End DB Connection ***** -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.min.js">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-softy-pinko.css">

</head>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                        <img src="https://i.imgur.com/ugCorAW.png" alt="E-Descargas" />
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="busqueda">Búsqueda</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="descargas">Descargas</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="AppCliente" asp-action="compras">Compras</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="AppAdmin" asp-action="admin">Admin</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="USUARIO" asp-action="signIn">Salir</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>


<br>
<br>
<br>
<br>
<br>

<h4>PELICULAS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Pelicula" class="control-label"></label>
                <input asp-for="Id_Pelicula" class="form-control" />
                <span asp-validation-for="Id_Pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annio" class="control-label"></label>
                <input asp-for="Annio" class="form-control" />
                <span asp-validation-for="Annio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma" class="control-label"></label>
                <input asp-for="Idioma" class="form-control" />
                <span asp-validation-for="Idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actores" class="control-label"></label>
                <input asp-for="Actores" class="form-control" />
                <span asp-validation-for="Actores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Archivo_descarga" class="control-label"></label>
                <input asp-for="Archivo_descarga" class="form-control" />
                <span asp-validation-for="Archivo_descarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Archivo_previsual" class="control-label"></label>
                <input asp-for="Archivo_previsual" class="form-control" />
                <span asp-validation-for="Archivo_previsual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
