@model ProyectoFinal1_desaAppsWeb.Models.PARAMETROS

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PARAMETROS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ruta_previsual_libros" class="control-label"></label>
                <input asp-for="Ruta_previsual_libros" class="form-control" />
                <span asp-validation-for="Ruta_previsual_libros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta_almacen_libros" class="control-label"></label>
                <input asp-for="Ruta_almacen_libros" class="form-control" />
                <span asp-validation-for="Ruta_almacen_libros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta_previsual_peliculas" class="control-label"></label>
                <input asp-for="Ruta_previsual_peliculas" class="form-control" />
                <span asp-validation-for="Ruta_previsual_peliculas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta_almacen_peliculas" class="control-label"></label>
                <input asp-for="Ruta_almacen_peliculas" class="form-control" />
                <span asp-validation-for="Ruta_almacen_peliculas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta_previsual_musica" class="control-label"></label>
                <input asp-for="Ruta_previsual_musica" class="form-control" />
                <span asp-validation-for="Ruta_previsual_musica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta_almacen_musica" class="control-label"></label>
                <input asp-for="Ruta_almacen_musica" class="form-control" />
                <span asp-validation-for="Ruta_almacen_musica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
